@font-face {
  font-family: "quicksand";
  src: url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
}

:root {
  --white: #fff9e5;
  --brown: #766751;
  --coral: #ff7c69;
  --pink: #febdc3;
  --dark-pink: #ef758a;
  --light-yellow: #f8eebc;
  --yellow: #fcea64;
  --dark-yellow: #f5c24c;
  --light-blue: #8ecfca;
  --blue: #7cc8c3;
  --dark-blue: #017c74;
  --light-green: #a4d4a2;
  --green: #88c9a1;
  --dark-green: #68b893;
  --true-green: #3f7b38;
  --false-red: #ad3434;
  background-color: var(--light-yellow);
}

* {
  font-family: "quicksand", sans-serif;
}

.app {
  display: flex;
  height: 100vh;
}

button {
  background: none;
  border: none;
}

h2 {
  font-size: 48px;
}

input {
  background: var(--white);
  border-radius: 8px;
  padding: 4px;
  height: auto;
  font-size: 16px;
  font-weight: bold;
  border: none;
  color: var(--brown);
}
input:focus {
  outline: none;
}

/* -------------------------------------- Catalog Header -------------------------------------- */

.catalog {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--light-yellow);
  color: var(--brown);
  padding: 32px 64px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-search {
  display: flex;
  position: relative;
  align-items: center;
}

.filter-search button {
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: var(--brown);
}
.filter-button:active {
  scale: 95%;
}

.search-button:active {
  scale: 95%;
}

.filter-button {
  margin-right: 12px;
}

.filter-menu {
  position: absolute;
  top: 64px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  background-color: var(--dark-green);
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  z-index: 10;
  padding: 8px 12px;
  border-radius: 12px;
  filter: drop-shadow(rgba(36,72,70,0.34) -2px 2px 12px);

  transition-property: opacity;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

.filter-menu.open {
  visibility: visible;
  opacity: 1;
}

.filter-menu .filter-item {
  width: fit-content;
  color: var(--white);
  display: flex;
  align-items: center;
  font-size: 16px;
}

.filter-menu .filter-item svg {
  width: 24px;
  height: 24px;
  background-color: var(--white);
  border-radius: 8px;
  padding: 2px;
  margin-right: 8px;
  color: var(--white);
}

.filter-menu .filter-item.selected svg {
  color: var(--brown);
  background-color: var(--yellow);
}

.search-button {
  background: var(--yellow);
  border-radius: 8px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  width: 400px;
  background-color: var(--white);
  border-radius: 12px;
}

.search input {
  width: 360px;
}

/* -------------------------------------- Catalog Cards -------------------------------------- */

.cards {
  flex: 0 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  row-gap: 20px;
  column-gap: 10px;
  align-items: stretch;
  justify-content: space-between;
  margin: 20px 0;
  overflow-y: auto;
  padding-right: 20px;
  padding-bottom: 32px;
  scrollbar-color: var(--white) var(--light-yellow);
}

.card {
  position: relative;
  border: none;
  height: auto;
  max-height: 164px;
  padding: 8px;
  background-color: rgba(164, 212, 162, 0.6);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.card.unlocked {
  background-color: var(--blue);
}

.overlay-trigger {
  position: absolute;
  margin-top: -8px;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

.card h4 {
  color: var(--brown);
  font-size: 11px;
}

.card img {
  width: 84px;
  height: 84px;
  background-color: rgba(118, 103, 81, 0.25);
  border-radius: 12px;
  margin-bottom: 8px;
}

.card.unlocked img {
  background-color: rgba(118, 103, 81, 0.5);
}

/* -------------------------------------- Pagination -------------------------------------- */
.pagination {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  font-weight: 600;
  align-self: flex-end;
  margin-top: auto;
}

.pagination.active {
  visibility: visible;
  height: 32px;
}

.pagination input::-webkit-outer-spin-button,
.pagination input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.pagination input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.pagination input {
  height: 20px;
  width: 28px;
  margin-left: 8px;
}

.pagination p {
  margin-right: 8px;
}

.pagination button {
  margin-top: 2px;
  padding: 4px;
  cursor: pointer;
}

.pagination button:active {
  scale: 95%;
}

/* -------------------------------------- Overlays -------------------------------------- */
.overlay-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: rgba(118, 103, 81, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  display: flex;
  flex-direction: column;
  background-color: var(--light-green);
  padding: 24px;
  border-radius: 12px;
  max-width: 640px;
  filter: drop-shadow(rgba(36,72,70,0.34) -2px 2px 12px)
}

.overlay h4 {
  font-size: 18px;
  font-weight: 500;
  margin: 12px 0;
  text-transform: capitalize;
}

.overlay h4 em {
  font-weight: 800;
  font-style: normal;
  color: var(--brown);
}

.overlay .top-half {
  display: flex;
}

.overlay .top-half h4 {
  margin: 0;
}

.overlay .top-half img {
  width: 170px;
  height: 170px;
  background-color: rgba(118, 103, 81, 0.5);
  border-radius: 12px;
  margin-right: 12px;
}

.overlay .header-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.overlay .header-info h2 {
  font-size: 24px;
}

.overlay .header-info h3 {
  text-transform: capitalize;
  font-size: 16px;
  color: var(--dark-blue);
}

.overlay .info-grid {
  height: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: auto;
  column-gap: 20px;
  align-items: end;
}

.overlay .info-grid .true {
  color: var(--true-green);
}

.overlay .info-grid .false {
  color: var(--false-red);
}

.overlay p {
  display: inline;
  font-size: 14px;
  color: var(--dark-blue);
  font-weight: 600;
}

.overlay .source-list {
  margin-right: -8px;
}

.overlay .source {
  display: inline flex;
  align-items: center;
  margin-right: 8px;
}

.overlay .source p {
  font-weight: 500;
}

.overlay .source.owned p {
  font-weight: 800;
  color: var(--true-green);
}

.overlay .source img {
  width: 20px;
  height: 20px;
  margin-right: 2px;
}

/* -------------------------------------- Sidebar -------------------------------------- */

.sidebar-toggle {
  display: none;
}

.sidebar {
  background-color: var(--dark-green);
  color: var(--white);
  padding: 32px;
  height: 100vh;
  overflow: hidden;
}

.checklist {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.villagers {
  margin-top: 20px;
  flex: 0 1 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.checklist-button {
  flex: 0 0 auto;
  margin-top: auto;
  display: none;
}

.accordion {
  margin-bottom: 16px;
}

.accordion-list {
  flex: 1 1 auto;
  overflow-y: auto;
  padding-left: 24px;
  max-height: 0;
  scrollbar-color: var(--dark-green) var(--green);
  transition-property: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(.49,.48,.5,1.06);
}

.facilities .accordion-list {
  overflow-y: none;
  scrollbar-width: none;
}

.facilities input {
  display: none;
}
.facilities .count {
  display: none;
}

.accordion.expanded {
  flex: 1 1 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
}

.accordion.expanded .accordion-list {
  display: block;
  width: 100%;
  max-height: 1000px;
}

.accordion-button {
  color: var(--white);
  margin-bottom: 8px;
  cursor: pointer;
}

.accordion-button h3 {
  display: inline;
  margin-right: 8px;
  font-size: 24px;
}

.plus-minus {
  display: inline-block;
  width: 16px;
  margin-right: 8px;
}

.accordion-item {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--white);
  font-size: 16px;
  margin: 4px 0;
}

.accordion-item.selected {
  color: var(--yellow);
}

.accordion-item img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}

/* -------------------------------------- Tablet/Smaller Computer Screens -------------------------------------- */

@media(max-width: 1120px) {
  h2 {
    font-size: 32px;
  }
  
  .catalog {
    padding: 32px;
  }
  
  .accordion-button h3 {
    font-size: 18px;
  }
}

/* -------------------------------------- Mobile/Tablet (collapsible checklist) -------------------------------------- */

@media(max-width: 920px) or ((orientation: portrait) and (not(hover))) {
  h2 {
    margin-left: 44px;
  }

  .overlay h2 {
    margin-left: 0;
  }
  
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .catalog {
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .cards {
    row-gap: 12px;
    column-gap: 6px;
    padding-right: 0;
    scrollbar-width: none;
  }

  .sidebar-toggle {
    display: inline-block;
    position: fixed;
    top: 24px;
    left: 20px;
    z-index: 5;
    background: none;
    border: none;
    color: var(--brown);
  }

  .sidebar-toggle:active {
    scale: 95%;
  }

  .filter-search {
    margin-top: 8px;
    width: 100%;
  }

  .search {
    width: auto;
    flex: 1;
  }

  .search input {
    width: fit-content;
  }

  .checklist {
    display: none;
  }

  .checklist.open {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 20px;
    background-color: var(--dark-green);
    z-index: 4;
    width: fit-content;
    border-radius: 12px;
    filter: drop-shadow(rgba(36,72,70,0.34) -2px 2px 12px);
  }

  .accordion-button h3 {
    font-size: 24px;
  }

  .accordion-item {
    font-size: 18px;
  }
}

/* -------------------------------------- Smaller screens (shrink overlay) -------------------------------------- */

@media(max-width: 600px) {
  .overlay .top-half {
    flex-direction: column;
  }

  .overlay .top-half img {
    width: 96px;
    height: 96px;
  }

  .overlay h2 {
    font-size: 18px;
    margin-top: 8px;
  }

  .overlay h3 {
    margin: 8px 0;
  }

  .overlay h4 {
    font-size: 14px;
    margin: 4px 0;
  }

  .overlay p {
    font-size: 12px;
  }

  .info-grid {
    min-height: fit-content;
    row-gap: 0px;
    margin-bottom: 8px;
  }

  .overlay {
    padding: 16px;
  }
}

/* -------------------------------------- Hover effects -------------------------------------- */

@media (hover: hover) {
  .filter-button:hover {
    color: var(--coral)
  }

  .search-button:hover {
    background-color: var(--coral);
    color: var(--white);
  }

  .pagination button:hover {
    color: var(--coral);
  }

  .card:hover {
    background: var(--green);
  }
}